

<form asp-action="CreateSection" asp-controller="Section">
    <div class="input-group mb-3">
        <p>Создание обсуждения</p>
        <input name="text" type="text" class="form-control" placeholder="Название обсуждения" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary">
                Сохранить
            </button>
        </div>
    </div>
</form>