@model SelectedSectionViewModel

<div class="text-center">
    <h1 class="display-4">@Model.Section.Name</h1>
</div>
@if (Model.Section.Discriminator == "QSection")
{
    @await Html.PartialAsync("VariantsInfo", Model.Variants)
    @await Html.PartialAsync("Dropdown", Model.Variants)
}
@await Html.PartialAsync("MessagesList", Model)
