<a class="btn btn-primary" asp-controller="Admin" 
   asp-action="UpdateUserRole" role="button">
    Редактировать роль/Забанить пользователя
</a>

<a class="btn btn-primary" asp-controller="Admin"
   asp-action="EditDeleteMessage" role="button">
    Удалить/Редактировать сообщение
</a>