<a class="btn btn-primary" asp-controller="Admin" 
   asp-action="UpdateUserRole" role="button">
    Редактировать роль пользователя
</a>

<a class="btn btn-primary" asp-controller="Admin"
   asp-action="DeleteMessage" role="button">
    Удалить сообщение
</a>